<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Fellowship of Business Leaders",
  "alternateName": "FBL",
  "url": "{{ .Site.BaseURL }}",
  "logo": "{{ .Site.BaseURL }}images/fbl-logo.jpg",
  "description": "{{ .Site.Params.description }}",
  "email": "member@fblconnect.com",
  "foundingDate": "2024",
  "nonprofitStatus": "Nonprofit501c3",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "US",
    "addressRegion": "KY"
  },
  "sameAs": [
    "https://www.facebook.com/profile.php?id=61588543627156",
    "https://www.linkedin.com/company/fellowship-of-business-leaders/"
  ],
  "founder": {
    "@type": "Person",
    "name": "Jed Wilson",
    "jobTitle": "Treasurer & Founder"
  },
  "memberOf": {
    "@type": "Organization",
    "name": "Internal Revenue Service",
    "url": "https://www.irs.gov/"
  }
}
</script>
